.signup_bg {
  width: 383px;
  height: 300px;
  border-radius: 30px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.3);
  border: solid 0.5px #e8e8e8;
  background-color: #ffffff;
  position: absolute;
  margin: 295px 176px 173px 215px;
  z-index: 999;
  top: 0;
  right: 0;
  display: flex;
  text-align: center;
  .signup_text {
    width: 153px;
    height: 28px;
    font-family: "Shabnam";
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: right;
    color: #052971;
    position: absolute;
    //     margin: 27px 111px 0 127px;
    top: 27px;
    right: 111px;
    margin: 0;
  }
  .hint {
    width: 230px;
    height: 32px;
    font-family: "Shabnam";
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: right;
    color: #122f61;
    position: absolute;
    top: 98px;
    right: 106px;
    margin: 0;
  }
  .input_group {
    position: relative;
    top: 132px;
    left: 97px;

    input.number_input {
      width: 196px;
      height: 37px;
      border-radius: 10px;
      border: solid 1px #979797;
      position: absolute;
      top: 0;
      left: 0;
      padding: 12px 78px 9px 79px;
      box-sizing: border-box;
      margin: 0;
      color: #052971;
      font-size: 12px;
      font-family: "Shabnam";
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;

      &::placeholder {
        width: 74px;
        height: 16px;
        font-family: "Shabnam";
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        // line-height: 1.3;
        letter-spacing: normal;
        color: #052971;
        // margin: 0
        // text-align: left;

        // padding-left: 41px;
      }
    }
    p.resend_code_msg {
      width: 126px;
      height: 16px;
      font-family: Shabnam;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      text-align: right;
      color: #979797;
      position: absolute;
      top:47px;
      left: 27px;
    }
    p.resend_code {
      cursor: pointer;
      width: 76px;
      height: 16px;
      font-family: Shabnam;
      font-size: 12px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      text-align: right;
      color: #052971;
      position: absolute;
      top: 47px;
      left: 50px;
    }
    .validation_error {
      position: absolute;
      top: 40px;
      left: 21px;
      width: 154px;
      height: 13px;
      font-family: "Shabnam";
      font-size: 10px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.3;
      letter-spacing: normal;
      text-align: center;
      color: #e4464b;
    }

    .submit {
      cursor: pointer;
      position: absolute;
      top: 95px;
      left: 32px;
      width: 125px;
      height: 39px;
      border-radius: 10px;
      border: none;
      box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.05);
      background-color: #052971;
      font-family: "Shabnam";
      font-size: 15px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.4;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      padding: 9px 13px 9px 15px;
      box-sizing: border-box;
    }
  }
  p.existing_account_ask {
    margin-top: 312px;
    margin-left: 83px;
    a.link {
      text-decoration: none;
      height: 21px;
      font-family: "Shabnam";
      font-size: 15px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.4;
      letter-spacing: normal;
      text-align: center;
      color: #efefef;
    }
  }
}
