.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url('../../../../public/images/sign-merchant-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  .logoKooche {
    // display: flex;
    z-index: 5;
    position: absolute;
    top: 40px;
    right: 56px;
    height: 30px;
    width: auto;
    img {
      width: 100%;
      height: auto;
    }
  }
  .form_bg {
    width: 774px;
    // height: 768px;
    height: 100vh;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #052971;
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 300px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
