.formControl {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  width:100%;
  flex-direction: row;
  justify-content: flex-start;
  label {
    color: #464545;
    width: 115px;
  }
  .radioControl {
    width: 155px;
    display: flex;
    flex-direction: row;
    // flex: 30%;
    label.radioLabel {
      width: 50px !important;
    }
  }
}
