.formControl {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  width: 70%;
  flex-direction: row;
  justify-content: space-between;
  label {
    color: #464545;
    width: 115px;
  }
  .radioControl {
    display: flex;
    flex-direction: row;
    flex: 30%;
    label.radioLabel {
      width: 70px !important;
    }
  }
}
