.formControl {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 30px;
  width: 100%;
  position : relative;
  direction: rtl;
  label {
    color: #122f61;
    font: 'Shabnam' normal;
    cursor: pointer;
    display: flex;
    width: 115px;
    position: relative;
  }
  .exImage {
    width: 0;
    height: 0;
    margin: 0;
    position: absolute;
    top: 2px;
    right: 145px;
    opacity: 0.9;
    img {
      border-radius: 10px;
      width: 184px;
      height: 100px;
    }
  }

  .uploadContainer {
    margin-right: 30px;
    width: 200px;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
  }
}
