.formControl {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 30px;
  width: 100%;
  position: relative;
  direction: rtl;
  label {
    color: #122f61;
    font: 'Shabnam' normal;
    cursor: pointer;
    display: flex;
    width: 115px;
    position: relative;
  }
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 97%;
    justify-content: space-between;
    margin: 15px 122px 0 0;
    .input {
      margin: 0 20px 30px 0;
      box-sizing: border-box;
      width: 184px;
      height: 130px;
      img {
        border-radius: 10px;
        width: 100%;
        height: 100%;
      }
    }
  }
  .uploadContainer {
    margin-right: 30px;
    width: 200px;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
  }
}
