.linkButton {
  cursor: pointer;
  width: 75px;
  outline: none;
  height: 22px;
  border-radius: 10px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.05);
  border: solid 0.5px #e8e8e8;
  background-color: #004f9d;
  color: #fff;
  text-decoration: none;
  font-size: 10px;
  font-family: "Shabnam";
}
