.paper {
  width: 100%;
  padding: 100px;
}

.attributes {
  width: 100%;
  min-height: 580px;
  padding-bottom: 30px;
  border-radius: 30px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.05);
  border: solid 0.5px #e8e8e8;
  background-color: #ffffff;
}

.tableTop {
  padding: 25px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    color: #052971;
    font-size: 20px;
    font-weight: normal;
    margin: 0;
  }
}

.addAttribute {
  width: auto;
  padding: 15px 0;
  height: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.05);
  border: solid 0.5px #e8e8e8;
  background-color: #052971;
  display: flex;
  align-items: center;
  overflow: hidden;

  a {
    text-decoration: none;
  }

  button {

    span {
      margin: 0;
    }

    svg {
      margin-left: 5px;
    }
  }
}

.table {
  min-width: 650;
}

.tableCell {
  text-align: center;
  color: #052971;
  font-size: 10px;
  font-weight: bold;
}

.tableHeader {
  height: 30px;
  background-color: #052971;

  th {
    text-align: center;
    color: #fff;
    font-weight: bold;
  }
}

.tableBodyCell {
  text-align: center !important;
  font-size: 14px !important;
  color: #052971 !important;
  font-weight: bold !important;
}

.actionCell {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.returnLink {
  font-size: 12px;
  font-weight: bold;

  a {
    color: #979797;
    text-decoration: none;
  }
}

.formWrapper {
  padding: 0 30px;
}

.topForm {
  display: flex;
  justify-content: space-evenly;

  > div {
    min-width: 30%;
  }
}

.label {
  display: block;
  font-size: 12px;
  color: #464545;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  height: 37px;
  padding: 5px 10px !important;
  border-radius: 10px;
  border: solid 1px #979797;
  font-family: Shabnam,Roboto,"Helvetica Neue",Arial,sans-serif !important;
  &:focus {
    outline: none;
  }
}

.attributeForm {
  margin-top: 30px;
}

.dropdownForm {

  input {
    width: 100%;
    max-width: 300px;
    height: 37px;
    padding: 5px;
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius: 10px;
    border: solid 1px #979797;
    &:focus {
      outline: none;
    }
  }

  button {
    margin-left: 10px;
  }
}

.colorForm {

  > div {
    display: inline-block;
    margin-left: 20px;
    min-width: 300px;

    > input {
      width: 100%;
      min-width: 320px;
      height: 37px;
      padding: 5px;
      margin-bottom: 20px;
      margin-left: 20px;
      border-radius: 10px;
      border: solid 1px #979797;
      &:focus {
        outline: none;
      }
    }
  }


  button {
    margin-left: 10px;
  }
}

.addInputButton  {
  margin-top: 20px !important;
  color: #052971 !important;
  font-weight: bold !important;
}

.submitButton {
  float: left;
  font-size: 16px !important;
  margin-top: 70px !important;
  padding: 5px 30px !important;
}

.submitButtonDisabled {
  opacity: 0.5;
  pointer-events: none;
  float: left;
  font-size: 16px !important;
  margin-top: 70px !important;
  padding: 5px 30px !important;
}

.submitButtonHidden {
  display: none !important;
}

.deleteButton {
  color: #fff !important;
  background-color: #e4464b !important;
}

.registerButton {
  color: #fff !important;
}

.registerButtonDisabled {
  pointer-events: none;
  opacity: .5;
}

.colorButton {
  color: #fff !important;
  background-color: #ffc663 !important;

  span {
    margin-right: 0 !important;
    margin-left: 5px !important;
  }
}

.photoButton {
  color: #fff !important;
  background-color: #464545 !important;

  span {
    margin-right: 0 !important;
    margin-left: 5px !important;
  }
}

.editButton {
  color: #fff !important;
  background-color: #ffc663 !important;

  span {
    pointer-events: none;
  }
}

.colorPickerPopover {
  position: absolute;
  z-index: 2;
}

.colorPickerCover {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.colorList {
  margin-top: 30px;

  li {
    display: block;
    margin-bottom: 20px;

    > div {
      display: inline-block;
      margin-left: 20px;
    }

    > button {
      display: inline-block;
      margin-left: 20px;
    }

    > span {
      display: inline-block;
      vertical-align: middle;
      margin-left: 20px;
      width: 40px;
      height: 38px;
      border: 1px solid #eee;
      border-radius: 10px;
    }

    > img {
      display: inline-block;
      vertical-align: middle;
      margin-left: 20px;
      width: 40px;
      height: 38px;
      border-radius: 10px;
    }
  }
}

.editModalHeader {
  text-align: left;

  svg {
    cursor: pointer;
  }
}

.editModalBody {
  padding: 10px 20px 40px !important;
  height: 200px;
}

.editModal {
  position: relative;

  .colorPickerPopover {
    position: absolute;
    z-index: 2;
    left: auto;
  }
}
